<% users.reverse_each do |users| %>
  <table>
    <tr>
      <td>
        <%= link_to user_path(users) ,style: "color:black;" do %>
          <%= attachment_image_tag, user :image size: "50x30", fallback: "no_image.png"%>
          @<%= users.users_name %>
        <% end %>
      </td>
    </tr>
  </table>
<% end %>