<div class="container" style="max-width:100%;">
  <div class="row post-list">
    <div class="offset-1 col-3 "><h2 class="post-list-title">New Post</h2></div>
    <div class="offset-1 col-4 "><h2 class="post-list-title">Home</h2></div>
    <div class="col-2 "><h3 class="post-list-title">All Posters</h3></div>
  </div>
  <div class="row post-row">
    <div class="offset-1 col-3 post-left">
      <div class="js-message-errors"></div>
      <%= render "posts/new", posts: @post %>
    </div>
    <div class="offset-1 col-4">
      <div id="post">
        <%= render "posts/all", posts: @posts %>
      </div>
    </div>
    <div class="col-2">
      <div class="post-right">
      <% @users.reverse_each do |users| %>
        <table>
          <tr>
            <td>
              <%= link_to user_path(users) ,style: "color:black;" do %>
                @<%= users.users_name %>
              <% end %>
            </td>
          </tr>
        </table>
      <% end %>
      </div>
    </div>
  </div>
</div>
