/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

 body {
  margin: 0;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

 header{
  position: sticky;
  width: 100%;
  height: 80px;
  z-index: 500;
  top: 0;
 }



 .header-link{
  margin-right: 30px;
 }

 .post-row{
  display: flex;
  background-color:white;
 }

 .post-list{
  z-index: 800;
  background-color: white;
  position:  sticky;
  align-self: baseline;
  top: 80px;
  height: 100px;
  border-bottom: double 5px black;
 }

 .post-list-title{
  margin-top: 30px;
  margin-left: 50px;
 }

 .top-link{
  color: black;
 }

 .post-left{
  position: sticky;
  align-self: baseline;
  top:200px;
  margin-top:20px;
 }

 .home-post{
  margin-bottom:100px;
 }

 .all-post{
  margin: 30px auto 70px;
 }

 .posts-content{
  margin-top: 10px;
 }

 .post-right{
  margin-left: 50px;
  position:  sticky;
  top: 200px;
  margin-top:20px;
 }

 .post-links{
  color:black;
 }

 .my-page{
  margin:0 auto 20px;
 }

 .edit-user{
  margin-top:50px;
 }

  .edit-post{
  margin-top: 10px;
 }

 .edit-form{
  width: 70%;
 }

 .edit-submit{
  margin-right: 50px;
 }

 .info-image{
  text-align:center;
  margin-bottom:20px;
 }

 .info-form{
  margin-bottom: 10px;
  width: 90%;
  margin-top: 10px;
 }

 .unsubscribe-text{
  margin-top: 100px;
 }

 .comment-field{
  width: 70%;
  height: 50px;
  margin: 0 auto 20px;
 }

 .new-comment{
  margin: 20px auto 50px;
 }

 td.img{
  height: 200px;
  width: 300px;
  object-fit: contain;
  display: inline-block;
 }

 #error_explanation{
  color:red;
 }

 .message-form{
 background-color:white;
 z-index: 800;
 width: 100%;
 margin-left: 400px;
 }

 .message-form-block{
  margin-top: 20px;
 }

 .message-form-text{
  width: 50%;
 }


.all-messages{
 margin-bottom: 100px;
 margin-bottom: 30px;
}


.message-submit{
 margin-bottom: 20px;
 width: 10%;
 border: 8px double black;
}


 .dm-field{
  height: 40px;
  width: 30%;
  margin-top:10px;
 }

 .dm-form{
  position: sticky;
  align-self: baseline;
  top: 180px;
  background-color: white;
  z-index: 600;
  height: 100px;
  margin-bottom: 10px;
 }

 .all-messages{
  margin-top: 30px;
  padding: 0.25em 1em;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  
 }

 .current_user {
  color: white;
  text-align: right;
  background-color: blue;
  width: fit-content;
  margin: 10px 0 0 auto;
  border-radius: 30px;
  padding: 10px;
}

.visited_user {
  color: white;
  margin: 10px;
  background-color: blue;
  text-align: left;
  width: fit-content;
  margin: 10px auto 0 0;
  border-radius:30px;
  padding: 10px;
}
