/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';


 header{
  position: sticky;
  width: 100%;
  height: 80px;
  z-index: 500;
  top: 0;
 }

 .header-link{
  margin-right: 30px;
 }

 .post-row{
  display: flex;
  top: 130px;
 }

 .post-blank{
  height:52px;
  z-index: 800;
  background-color: white;
  position: fixed;
  align-self: baseline;
 }

 .top-link{
  color: black;
 }

 .post-left{
  position: sticky;
  top: 130px;
  align-self: baseline;

 }


 .post-center{
  position: sticky;
  top: 130px;
  align-self: baseline;
  z-index: 400;
  background-color: white;
 }

 .post-right{
  position: sticky;
  top: 130px;
  align-self: baseline;
 }

 .allpost{
  margin: 50px auto 50px;
 }

 .post-links{
  color:black;
 }

 .my-page{
  margin:0 auto 20px;
 }