/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

 body {
  margin: 0;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  position: relative;
  min-height: 100vh;
  background-image: image-url("universe.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
 }

 header{
  position: sticky;
  width: 100%;
  height: 80px;
  z-index: 1000;
  top: 0;
  background-image: image-url("space.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: 1px solid gray;
 }

 label{
  color:white;
 }

 h3{
  color:white;
 }

 h2{
  color:white;
 }

 th{
  color:white;
 }

 td{
  color:white;
 }

 div#navbarNavDropdown.navbar-collapse.collapse.show{
  background-color: black;
  z-index: 1200;
  text-align: center;
  border-radius: 30px;
  top:0;
 }

 .btn{
  border-radius: 40px;
 }

 div.card.mb-6{
  height: 600px;
 }
 .header-link{
  margin-right: 30px;
 }

 .top-link{
  color: black;
 }

 .top-list{
  margin-top:30px;
  color: white;
 }

.post-list{
  z-index: 800;
  position:  sticky;
  align-self: baseline;
  top: 80px;
  height: 100px;
  border-bottom: double 3px black;
  background-image: image-url("universe.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
 }

 .post-list-left{
 margin-top: 30px;
 color:white;
}
 .post-list-title{
  margin-top: 30px;
  margin-left: 55px;
  color:white;
 }

 .post-list-right{
  margin-top: 30px;
  margin-left: 100px;
  color:white;
 }

 .post-row{
  display: flex;
 }

 .post-left{
  position: fixed;
  align-self: baseline;
  top:200px;
  padding-left: 3%;
  padding-right: 4%;
  margin-left: 2%;
  margin-right: 3%;
  height: 100vh;
 }

 .post-center{
 margin-left: 29%;
 margin-right: 4%;
 }

 .post-right{
  margin-left: 50px;
  position:  sticky;
  top: 200px;
  margin-top: 20px;
 }

 .post-count{
  color: white;
  margin: 0 10% 0 20%;
 }

 .all-poster{
  margin-bottom: 3%;
 }

 .post-links{
  color:black;
 }


 .home-post{
  margin-bottom:100px;
 }

 .all-post{
  margin: 0 auto 40px;
 }

 .posts-content{
  margin-top: 20px;
 }

.form-group{
 margin-top: 30px;
 }

 .my-page{
  margin:0 auto 20px;
 }

 .edit-user{
  margin-top: 50px;
 }

  .edit-post{
  margin-top: 10px;
 }

 .edit-form{
  width: 70%;
 }

 .info-form{
  margin-bottom: 16px;
  width: 90%;
 }

 .info-img{
  border-radius: 50%;
  width:  150px;
  height: 150px;
  background-position: center;
  object-fit:cover;
  border: 2px solid black;
  margin-left: 20%;
  margin-bottom: 10px;
 }

 .profile-image{
  border-radius: 50%;
  width:  40px;
  height: 40px;
  background-position: center;
  object-fit:cover;
  margin-right: 10px;
 }

 .new-img{
  width: 100%;
  height: 200px;
  background-position: center;
  background-size: cover;
  object-fit:cover;
  border-radius: 5px;
 }

 .edit-img{
  width: 100%;
  height: 350px;
  background-position: center;
  background-size: cover;
  object-fit:cover;
  border-radius: 5px;
 }


 .unsubscribe-text{
  color:white;
  margin-top:5%;
  margin-bottom:5%;
 }


 .comment-field{
  width: 70%;
  height: 50px;
  margin: 0 auto 20px;
 }

 .new-comment{
  margin: 20px auto 50px;
 }

 td.img{
  height: 200px;
  width: 300px;
  object-fit: contain;
  display: inline-block;
 }

 #error_explanation{
  color:red;
 }

 .message-form{
 z-index: 800;
 width: 60%;
 margin-left: 38%;
 }

 .message-form-block{
  margin-top: 20px;
 }

 .message-form-text{
  width: 70%;
  height: 40px;
  border-radius: 10px;
 }

.message-submit{
 margin-left: 10px;
 margin-bottom: 20px;
 width: 10%;
 border: 3px solid white;
 border-radius: 10px;
 }

 .DM-left{
  position: fixed;
  align-self: baseline;
  top:180px;
  padding-left: 3%;
  padding-right: 4%;
  margin-left: 2%;
  margin-right: 3%;
  height: 100vh;
 }


 .dm-all{
  margin-top: 50px;
 }

 .dm-field{
  height: 40px;
  width: 30%;
  margin-top:10px;
 }

 .dm-form{
  position: sticky;
  align-self: baseline;
  top: 180px;
  background-color: white;
  z-index: 600;
  height: 100px;
  margin-bottom: 10px;
 }

 .all-messages{
  margin-top: 30px;
  margin-bottom: 100px;
  padding: 0.25em 1em;
 }

 .current_user_list{
  text-align: right;
  width: fit-content;
  margin: 10px 0 0 auto;
  padding: 20px 10px 0 0;
 }

 .current_user {
  color: white;
  text-align: left;
  width: fit-content;
  margin: 10px 0 0 auto;
  padding: 10px;
 }

 .visited_user_list{
  text-align: left;
  width: fit-content;
  margin: 10px auto 0 0;
  padding: 20px 0 0 10px;
 }

 .visited_user {
  color: white;
  margin: 10px;
  background-color: black;
  text-align: left;
  width: fit-content;
  margin: 10px auto 0 0;
  padding: 10px;
 }

 .label {
  background-color: black;
  font-weight: 500;
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
 }

 .item_image_btn{
  display: none;
 }

 #img_field {
  font-style: inherit;
  margin: 0 auto;
  height: 200px;
  text-align: center;
  line-height: 40px;
  margin-left:0;
  margin: 10px 0 20px 0;
 }

 .card{
  border: 1px solid black;
 }


 .user-row{
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
 }

 .post-img{
  width:  100%;
  height: 200px;
  background-position: center;
  object-fit:cover;
 }

 .paginate{
  margin: 0 0 1% 4%;
  font-size:20px;
 }

 .top-paginate{
  margin: 0 4% 1% 78%;
  font-size:20px;
 }

 .pagination>li>a {
  border: none;
  color: white;
  background: none;
  background-color: black;
 }

 .pagination>li>a:hover {
  background:none;
  color:red;
 }


 .page-item.active .page-link{
  background: none;
  color:red;
 }

 .no-post{
  color:white;
  margin: 2% 0 0  10%;
 }

 .no-poster{
  color:white;
  margin: 10% 0 0  25%;
 }

 .img-square{
  background-position: center;
  background-size: cover;
  object-fit:cover;
 }

 input[type="file"] {
  display: none;
 }
